@model IEnumerable<FeLuisesScrumDEV.Models.Requeriment>
@{
    ViewBag.Title = "DetailsSummary";

}
<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
<body>
    <div class="row">
        @if (!(Model==null))
        {
            foreach (var requeriment in Model)
            {
                <div class="col-sm-6">
                    <div class="card border-dark rounded shadow-none" id="shadow-None-Fe">
                        <div class="card-header" id="back-Fe">
                            <a class="btn text-white" role="button" href="@Url.Action("Details", "Requeriments", new { idProjectFKPK=requeriment.idProjectFKPK, idModuleFKPK=requeriment.idModuleFKPK, idRequerimentPK=requeriment.idRequerimentPK } )">Req. @requeriment.objective</a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Detalles iran aquí.</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>
