<html>
@model IEnumerable<FeLuisesScrumDEV.Models.Requeriment>
<head>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <title>Requerimientos</title>
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#idProjectFKPK").change(function () {
                var categoryId = $("#idProjectFKPK").val();
                $("#modulescard").load('@(Url.Action("SelectModule","Requeriments",null, Request.Url.Scheme))?idProjectFKPK=' + categoryId);
            });
        });
    </script>
</head>


<body>
    @if (Session["userName"] == null)
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h2>Requerimientos</h2>
        <hr />
        <div id="projectcard">
            <div class="card border-dark rounded mb-3" id="shadow-Fe" style="width: auto; height:auto;">
                <div class="card-header" id="back-Fe1">
                    <p class="card-text text-white">
                        <div class="dropdown">
                            @Html.DropDownList("idProjectFKPK", null, "Proyecto", new { @class = "form-control" })
                        </div>
                    </p>
                </div>
                <div class="card-body">
                    <div id="modulescard">
                    </div>
                </div>
            </div>
            <p></p>

        </div>
    }
    </body>
</html>
