<html>
@model FeLuisesScrumDEV.viewModel.SelectModuleViewModel
<head>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#idModuleFKPK").change(function () {
                var categoryId = $("#idModuleFKPK").val();
                $("#requerimentscard").load('/Requeriments/GetRequeriments?idProjectFKPK=' +@Html.Raw(Json.Encode(Model.idProjectFKPK))+'&idModuleFKPK=' + categoryId);
                $("#prueba").prop("href", '@(Url.Action("Create","Requeriments",null, Request.Url.Scheme))?idProjectFKPK=' + @Html.Raw(Json.Encode(Model.idProjectFKPK)) + '&idModuleFKPK='  + categoryId);
            });
        });
    </script>
</head>


<body>

    <div id="modulecard">
        <div class="card border-dark"  style="margin-top: 15px">
            <div class="card-header" id="back-Fe1">
                <p class="card-text text-white">
                    <div class="dropdown">
                        @Html.DropDownList("idModuleFKPK", null, "Módulo", new { @class = "form-control"})
                        <div class="float-md-right">
                            <a id="prueba" class="btn btn-outline-success" role="button" href="#">
                                <img src="~/Images/add.svg" width="40" height="40" class="d-inline-block align-top" alt="">
                            </a>
                        </div>
                    </div>
                </p>
            </div>
            <div class="card-body">
                <div id="requerimentscard">
                </div>
            </div>
        </div>
        <p></p>

    </div>
</body>
</html>
