<!DOCTYPE html>
<html>
<head>
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cambiar contraseña</title>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml"; ;
    }

    <script type="text/javascript">
        //Script para validar el password viejo y guardar el nuevo
            function validatePassword() {
                var oldPass = document.getElementById("oldPass").value;
                var newPass = document.getElementById("newPass").value;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: '@Url.Action("ChangePassword", "LogIn")',
                    traditional: true,
                    async: false,
                    data: {
                        oldPass: oldPass,
                        newPass: newPass
                    },
                    success: function (json) {
                        if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                        } else {
                            document.getElementById("notOldPass").innerHTML = "No es la contraseña actual, por favor ingresala de nuevo"
                        }
                    },
                    error: function (errorList) {
                        console.log(errorList);
                        console.log("error");
                    }
                })
            }
    </script>

</head>

    <body>
        @{
            string typeOfProfile = "";
            if (Convert.ToInt32(Session["userRole"]) != 3)
            {
                typeOfProfile = "EmployeeProfile";
            }
            else
            {
                typeOfProfile = "ClientProfile";
            }
        }

        @if (Session["userName"] == null)
        {

            <div class="container">

                <div class="card">
                    <div class="card-header">
                        <h2 id="heading-red">No se vale hackear!</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                        <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </div>
        }else{
            <div class="container">

                <div class="card border-dark rounded" id="shadow-Fe1" style="width:auto; height:auto;">
                    <h2 class="card-header text-white" id="back-Fe1">Cambiar contraseña</h2>
                    <div class="card-body">
                        <div class="form-group">
                            <b>Contraseña actual</b>
                            <div class="col-md-10">
                                <input type="password" id="oldPass" name="password" required />
                            </div>
                            <div class = "text-danger">
                                <p id="notOldPass"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Nueva contraseña</b>
                            <div class="col-md-10">
                                <input type="password" id="newPass" name="password" required />
                            </div>
                        </div>

                    </div>
                    <div class="card-footer" id="back-Fe1">
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-20">
                                <button style="background:transparent; border:none; color:transparent;" onclick="validatePassword();"><input type="image" src="~/Images/save.svg" value="Edit" class="btn btn btn-outline-success" /></button>
                                <a class="btn btn-outline-danger" role="button" href="@Url.Action(typeOfProfile, "LogIn")">
                                    <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </body>
</html>
