<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style>
    body {
        background-image: url(/Images/prb.jpg);
        background-size: cover;
        color: #fff;
    }

    .card {
        margin-top: 100px;
    }

    .card {
        background: rgba(0, 0, 0, .6);
    }

    .card-content label {
        font-size: 16px;
        color: #ccc;
    }

    .card-content input {
        font-size: 20px !important;
        color: #fff;
    }

    .card-content buttom:hover {
        padding: 0px 40px;
    }
</style>

<div>
    @Html.ActionLink("LogIn", "Index", "loginController")

</div>


<body>
    <div class="row">
        <div class="col s4 push-s4">

            <div class="card">

                <div class="card-action red white-text">
                    <h3> LogIn</h3>
                </div>

                <div class="card-content">

                    <div class="form-field">
                        <label for="username">UserName</label>
                        <input type="text" id="username" />
                    </div><br>

                    <div class="form-field">
                        <label for="password">Pasword</label>
                        <input type="password" id="password" />
                    </div><br>

                          <div class="form-field center-align">

                            <a href="~/Views/Home/Index.cshtml" <buttom class="btn-large red">Login</buttom></a>
                              <!--<buttom class="btn-large red">Login</buttom>-->
                          </div><br>

                </div>

            </div>
        </div>

    </div>
</body>