@model FeLuisesScrumDEV.Models.DeveloperKnowledge
@if (Session["userName"] == null)
{

    <div class="container">

        <div class="card">
            <div class="card-header">
                <h2 id="heading-red">No se vale hackear!</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h4>DeveloperKnowledge</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employee.employeeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.employeeName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

}