@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FeLuisesScrumDEV.Models.Module

@{
    ViewBag.Title = "Delete";
}

<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">

<div class="container">
    <h2 id="heading-red">Desea eliminar este Módulo?</h2>
    <hr />
    <div>
        <div class=" container">
            <div class="card rounded border-dark" style="width: auto; height: auto;" id="shadow-Fe1">
                <h2 class="card-header text-white" id="back-Fe1">Modulo</h2>
                <div class="card-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Module name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                                Belongs to project
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Project.projectName)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer" id="back-Fe1">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="image" src="~/Images/accept.svg" class="btn btn-outline-success" alt="Submit" />
                        <a class="btn btn-outline-danger" role="button" href="@Url.Action("Details", "Modules",  new { idProjectFKPK = Model.idProjectFKPK, idModulePK = Model.idModulePK })">
                            <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>