
.container-data {
    margin-top: 25px;
}



/*NAVBAR*/
/*Color del nav*/
.navbar-styles {
    background-color: #4B4073;
}

/*Para los Links*/
.navbar-styles a {
  color: white !important;
}

/*Color de la letra del DD*/
.navbar-styles .dropdown-menu a {
    color: black !important;
  
}
/*Underline de DD a*/
    .navbar-styles .dropdown-item:hover { /*Quizá ocupe una a*/
        text-decoration: underline;
        background-color: #4B4073; /*Cómo se ve?*/
    }

/*Color de la letra del nombre*/

.navbar-styles .navbar-brand {
    font-size: 1.4em;
}

.navbar-styles .navbar-brand:hover {
    color: #0FF2C9 !important;
    font-size: 1.45em;
}

.navbar-styles .nav-link:hover {
    text-decoration: underline;
    
}
/*NAVBAR*/

/*FOOTER*/
.page-footer {
    background-color: #4B4073;
}

 .footer-copyright{
    color: white !important;
}


/*FOOTER*/