@using FeLuisesScrumDEV.Models
<!DOCTYPE html>
<html lang="en">
@model List<CalendarData>
<head>
    <meta charset="utf-8" />
    @{
        ViewBag.Title = "Calendario";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <title>Calendario</title>
    <link href='~/Scripts/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/Scripts/fullcalendar/daygrid/main.css' rel='stylesheet' />

    <script src='~/Scripts/fullcalendar/core/main.js'></script>
    <script src='~/Scripts/fullcalendar/daygrid/main.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'list'] // an array of strings!
                dateClick: function () {
                    alert('a day has been clicked!');
                }
            });

            calendar.on('dateClick', function (info) {
                console.log('clicked on ' + info.dateStr);
            });

            calendar.render();
        });

    </script>
</head>

<body>
    <h2>Calendario</h2>
    <hr />
    <div id='calendar'></div>
    @foreach (CalendarData item in Model)
    {
        <div>@item.idRequerimentPK</div>
    }
</body>
</html>
