@using FeLuisesScrumDEV.Models
<!DOCTYPE html>
<html lang="en">
@model List<CalendarData>
<head>
    <meta charset="utf-8" />
    @{
        ViewBag.Title = "Calendario";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <title>Calendario</title>
    <link href='~/Scripts/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/Scripts/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/Scripts/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='~/Scripts/fullcalendar/list/main.css' rel='stylesheet' />
</head>

<body>
    <div class="container">
        <h2>Calendario</h2>
        <hr />

        <div class="form">
            <div class="form-row">

                <div class="col">
                    <div id="dropDownProjects" style="margin-top: 50px; margin-bottom:50px">
                        @Html.DropDownList("idProjectFKPK", null, "Proyecto", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col" style="text-align:right">
                    <div>
                        <img src="~/Images/legenda.PNG" width="200" />
                    </div>
                </div>

            </div>
        </div>
        <hr />
        <div id='calendar'></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#idProjectFKPK").change(function () {
                var projectId = $("#idProjectFKPK").val();
                window.location.href = "/Calendar/Index/?projectId=" + projectId;
            });
        });
    </script>

    <script>
        let requerimientos = [
            {

            }
        ];


        var model = @Html.Raw(Json.Encode(Model));
        let color = '';
        for (let contador = 0; contador < model.length; ++contador)
        {
            if (model[contador].status == 1) {
                color = 'blue';
            }
            else {
                color = 'red';
            }

            requerimientos.push({
                title: model[contador].idRequerimentPK, start: model[contador].startingDate,
                end: model[contador].endDate, backgroundColor: color, borderColor: color,
                textColor: 'white'
            });
        }
        console.log(requerimientos);

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid','timeGrid', 'list'],
                defaultView: 'dayGridMonth',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    list: 'Lista'
                },
                events: requerimientos,
                locale: 'es',
                allDayText: 'Todo el día'
            });
            calendar.render();
        });

    </script>


    <script src='~/Scripts/fullcalendar/core/main.js'></script>
    <script src='~/Scripts/fullcalendar/daygrid/main.js'></script>
    <script src='~/Scripts/fullcalendar/timegrid/main.js'></script>
    <script src='~/Scripts/fullcalendar/list/main.js'></script>
    <script src='~/Scripts/fullcalendar/interaction/main.js'></script>
</body>
</html>
