@using FeLuisesScrumDEV.Models
<!DOCTYPE html>
<html lang="en">
@model List<CalendarData>
<head>
    <meta charset="utf-8" />
    @{
        ViewBag.Title = "Calendario";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <title>Calendario</title>
    <link href='~/Scripts/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/Scripts/fullcalendar/daygrid/main.css' rel='stylesheet' />

    <script src='~/Scripts/fullcalendar/core/main.js'></script>
    <script src='~/Scripts/fullcalendar/daygrid/main.js'></script>

    <script>

        let requerimientos = [
            {
                title: 'SUPER PRUEBA',
                start: '2020-06-14',
                end: '2020-06-16',
                backgroundColor: 'red',
                borderColor: 'red',
                textColor: 'white'
            }
        ];


        var model = @Html.Raw(Json.Encode(Model));

        for (let contador = 0; contador < model.length; ++contador)
        {
            console.log(model[contador]);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'list'],
                events: requerimientos,
            });
            calendar.render();
        });

    </script>
</head>

<body>
    <h2>Calendario</h2>
    <hr />
    <div id='calendar'></div>
    
</body>
</html>
