<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "devsKnowledgeLaborSeniority";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <title>devsKnowledgeLaborSeniority</title>
    <script>
        //Este script es para lograr hacer una tabla que acomode y busque sus tuplas.

        $(document).ready(function () {
            $('#devKnowledgeIndex').DataTable({ searching: false, paging: false });
            $("#test").click(function () {
                var categoryId = $("#knowledgetest").val();
                $("#results").load('/Reports/viewKnowledges?knowledge=' + categoryId + '&mode=0');
            });
            $("#test2").click(function () {
                $("#results").load('/Reports/viewKnowledges?knowledge=all');
            });
        });
    </script>
</head>
<body>
    @if (Session["userName"] == null && (Convert.ToInt32(Session["userRole"]) != 0))
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
<div class="container">
    <h2>Antigüedad de desarrolladores por conocimiento</h2>
    <hr>

    <h3>Filtrar por conocimiento: </h3>
    <div class="row">
        <input name="knowledge" class="form-control text-box single-line" id="knowledgetest" style="margin-left: 5px; margin-right: 5px" type="text" value="">
        <button type="button" class="btn btn-primary" style="margin-left: 5px; margin-right: 5px" id="test">Buscar</button>
        <button type="button" class="btn btn-primary" style="margin-left: 5px; margin-right: 5px" id="test2">Ver todos</button>
    </div>
    <div class="p-3 mb-4 bg-info text-white" style="margin-top: 10px; margin-right: 15px">
        <b>PCaca </b>
    </div>

    <div id="results">
    </div>
</div>
    }
</body>
</html>
