<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Periodos de inactividad</title>

	<script>
		function getPeriods() {
                var idEmployee = document.getElementById("EmployeeSelect").value;
			    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: '@Url.Action("BringPeriod", "Reports")',
                        traditional: true,
                        async: false,
                        data: {
                            currentEmployee: idEmployee
                        },
						success: function (json) {

							console.log(json.myArray);
							var myArray = json.myArray;
							var periodo = "";
							var count = 1;
							for (i = 0; i < json.myArray.length; i++){
								 periodo = "";

								for (j = 0; i < 2; j++) {
									if (i % 2 === 0) {
										periodo = myArray[i] + " - ";
									} else {
										periodo = periodo + myArray[i];
									}
								}
								var table = document.getElementById("myTable");
								var row = table.insertRow(count);
								var cell1 = row.insertCell(0);
								var cell2 = row.insertCell(1);
								cell1.innerHTML = periodo;
								cell2.innerHTML = periodo;
								count += 1;

							}
								//var ids = json.ids;
								//var names = json.names;
								//var knowledges = json.knowledges;
								//var leaderName = json.leaderName;
								//var skills = "";
								//var pathImage = "../../Images/info.svg";
								//var num = 25; //Para las dimensiones de la imagen
								//document.getElementById("leaderName").innerHTML = leaderName;
								//document.getElementById("sortable2").innerHTML = "";
								//var ul = document.getElementById("sortable2");
								//for (var cont = 0; cont < ids.length; cont++){
								//    for (var i = 0; i < knowledges[cont].length; i++) {
								//        if (knowledges[cont][i] != null) {
								//            skills = skills + knowledges[cont][i] + "\n";
								//        }
								//    }
								//    var li = document.createElement("li");
								//    li.setAttribute("id", ids[cont]);
								//    li.setAttribute("class", "ui-state-default ui-sortable-handle");
								//    ul.appendChild(li);
								//    document.getElementById(ids[cont])
								//        .innerHTML = '<label>' + names[cont] + '</label><img src="' + pathImage + '" width="' + num.toString(10) + '" height="' + num.toString(10) + '" class="d - inline - block align - top" title="' + skills + '">';
								//    skills = "";
								//}

                        },
                        error: function (errorList) {
                            //console.log(errorList);
                            //console.log("error");
                        }
                })
         }
	</script>

</head>
<body>

	@if (Session["userName"] == null && (Convert.ToInt32(Session["userRole"]) != 0))
	{
		<div class="container">

			<div class="card">
				<div class="card-header">
					<h2 id="heading-red">No se vale hackear!</h2>
				</div>
				<div class="card-body">
					<h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
					<a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="container">
			<h3>Periodos de desocupación de los desarrolladores dentro de un rango de fechas</h3>
			<br />
			<br />
			@*<div class="form-control" type="date" ></div>*@
			@Html.DropDownList("idEmployeePK", null, htmlAttributes: new { @class = "form-control", @id = "EmployeeSelect", @onchange = "getPeriods()" })
			<br />

			<h4 id="employeeName"></h4>

			<br />
			<br />

			<table id="myTable" class="table table-striped table-bordered">

				<thead>
				<th>
					Períodos
				</th>
				<th>
					Horas
				</th>
				</thead>

				<tbody></tbody>

			</table>

		</div>
	
	}

</body>
</html>
