<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Periodos de inactividad</title>
</head>
    <body>
        <div> 
        </div>
    </body>
</html>
