<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        @{
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        <title>Reportes</title>
    </head>

    <body>
        @if (Session["userName"] == null)
        {

            <div class="container">

                <div class="card">
                    <div class="card-header">
                        <h2 id="heading-red">No se vale hackear!</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                        <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </div>
        }else{
            <section id="ProjectCards">
                <!--Id para hacer el toggle de una vista a otra (Cards)-->
                <div class="card-deck">
                    <div class="card-columns">
                        @*@foreach (var item in Model)
                        {
                            string[] states = { "No iniciado", "En proceso", "Interrumpido", "Completado" };
                            int index;
                            if (item.status != null)
                            {
                                index = (int)item.status;
                            }
                            else
                            {
                                index = 0;
                            }*@
                            <div class="card mb-3 border-dark rounded" id="shadow-Fe1" style="width: 24rem; height: auto;">
                                <div class="card-header" id="back-Fe1"><!--Inicio de card-headers-->
                                    @*<a class="btn text-white" role="button" href=@Url.Action("Details", "Projects", new { id = item.idProjectPK })>@item.projectName</a>*@
                                </div><!--Fin del card-header-->
                                <div class="card-body"><!--Inicio del card-body-->
                                    
                                </div><!--Fin del card-body-->
                                <div class="card-footer text-white-50 text-center" id="back-Fe1"><!--Inicio del card-footer-->
                                    
                                </div><!--Fin del card-footer-->
                            </div><!--Fin del card-->
                        @* } *@
                    </div><!--Fin del card-columns-->
                </div>
            </section>
        }

        </body>
</html>


