<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    @if (Session["userName"] == null)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="card border-dark rounded mb-3" id="shadow-Fe" style="width: auto; height:auto;">
                <h2 class="card-header text-white" id="back-Fe1">Reportes disponibles</h2>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("stateResponsableRequirement", "Reports")"><b>Estado de Requerimientos</b></a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"> Dado un proyecto, se muestran todos los requerimientos, su estado y responsables. Luis Carvajal </p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("requirmentState", "Reports")">Estado de Requerimientos</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Estado del desarrollo de requeriminetos asignados a un desarrollador. Luis Carvajal</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 3</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 4</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 5</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 6</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>


                    </div><!--row-->


                </div><!--CardBody-->
                <div class="card-footer" id="back-Fe1">

                </div>
            </div> <!--card-->

        </div>
    }
</body>
</html>



