<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    @if (Session["userName"] == null)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="card border-dark rounded mb-3" id="shadow-Fe" style="width: auto; height:auto;">
                <h2 class="card-header text-white" id="back-Fe1">Reportes disponibles</h2>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href=@Url.Action("DeveloperState", "Reports")>Consulta 1-Felipe</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Desarrolladores asignados a proyectos y disponibles</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 2</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 3</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 4</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 5</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href=@Url.Action("InactivityPeriod", "Reports")>Consulta 6-Felipe</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Periodos de desocupación de los desarrolladores dentro de un rango de fechas.</p>
                                </div>
                            </div>
                        </div>


                    </div><!--row-->

                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 7</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 8</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 9</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 10</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 11</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            @*<div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 6</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>*@
                        </div>


                    </div><!--row-->


                </div><!--CardBody-->
                <div class="card-footer" id="back-Fe1">

                </div>
            </div> <!--card-->

        </div>
    }
</body>
</html>



