<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    @if (Session["userName"] == null)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="card border-dark rounded mb-3" id="shadow-Fe" style="width: auto; height:auto;">
                <h2 class="card-header text-white" id="back-Fe1">Reportes disponibles</h2>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href=@Url.Action("DeveloperState", "Reports")>
                                        1.Desarrolladores asignados a
                                        proyectos y disponibles
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Esta consulta permite al Jefe de desarrollo tomar la decisión si en el caso de que un nuevo cliente quiere contratar la
                                        empresa para un nuevo proyecto, se cuenta con los desarrolladores ya libres o pronto de desocuparse.
                                        Los líderes de proyecto pueden consultar con quién se puede contar adicionalmente en el caso de requerir más
                                        desarrolladores de lo planeado anteriormente. Felipe
                                    </p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 2</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("totalRequirements", "Reports")">10. Requerimientos Terminados y en Progreso</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">El cliente puede realizar una consulta rápida sobre el estado de su proyecto con respecto a la ejecución de requerimientos. Luis Valverde.</p>
                                </div>
                                <div class="card-footer" id="back-Fe">

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 3</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("devsHistoryOnProjects", "Reports")">4. Historial Desarrollador en Proyectos</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Esta consulta permite al Jefe de desarrollo analizar la ocupación de un desarrollador específico y también, si su rol en mayoría de los proyectos es de desarrollador o de líder. Luis Valverde.</p>
                                </div>
                                <div class="card-footer" id="back-Fe">

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 5</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href=@Url.Action("InactivityPeriod", "Reports")>6.Periodos de desocupación de los desarrolladores dentro de un rango de fechas</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Esta consulta permite al Jefe
                                        de desarrollo analizar si
                                        existen desarrolladores que
                                        pasan desocupados con
                                        mucha frecuencia lo que
                                        ocasiona a la empresa la
                                        pérdida de ganancias. Felipe
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div><!--row-->

                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 7</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 8</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 9</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 10</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 11</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            @*<div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 6</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>*@
                        </div>


                    </div><!--row-->


                </div><!--CardBody-->
                <div class="card-footer" id="back-Fe1">

                </div>
            </div> <!--card-->

        </div>
    }
</body>
</html>



