@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
@model IEnumerable<FeLuisesScrumDEV.Models.Client>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>numReqPerDev</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#idProjectFKPK").change(function () {
                var categoryId = $("#idProjectFKPK").val(); //int? idClientPK, int idProject
                
                //var client = '<%=Session["userName"]%>';
                //$("#info").load('@*@(Url.Action("stateResponsableReqClient","Reports",null, Request.Url.Scheme)*@)?idClientPK='  + client + '&idProject=' + categoryId);
                $("#info").load('@(Url.Action("stateResponsableReqClient","Reports",null, Request.Url.Scheme))?idProject=' + categoryId);
            });
        });
    </script>
</head>

<body>
    @if (Session["userName"] == null && Convert.ToInt32(Session["userRole"]) != 0)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div>
                <h2>Requerimientos por Proyectos</h2>
                <hr />
                <div class="p-3 mb-2 bg-warning text-dark">
                    <b>Cliente: </b>            
                </div>
            </div>
            <div class="dropdown">
                @Html.DropDownList("idProjectFKPK", ((FeLuisesScrumDEV.Controllers.ReportsController)this.ViewContext.Controller).ProjectsList(), "PROYECTOS", new { @class = "form-control" })
                <div id="info"></div>
            </div>
        </div>
    }
</body>

</html>
